<div class="container" style="padding: 0px 200px;">
  <div style="padding-top: 5%;"><h4 style="text-align: center;color: #f7076b;font-family: serif;">REGISTRATION FORM</h4></div>
  <div>
    <form [formGroup]="registerForm" (ngSubmit)="registrationForm(registerForm.value)">
      <div class="form-group" [ngClass]="{'text-danger':registerForm.get('name').errors && 
      (registerForm.get('name').touched || registerForm.get('name').dirty)}">
        <label for="name">Name:</label>
        <input type="text" class="form-control text-capitalize" formControlName="name" id="name" placeholder="Enter Name">
        <span class="help-block" *ngIf="registerForm.get('name').errors && 
        (registerForm.get('name').touched || registerForm.get('name').dirty)">
        <span  *ngIf="registerForm.get('name').errors.required">Full name is required !</span>
      </span>
      </div>

      <div class="form-group" [ngClass]="{'text-danger':registerForm.get('email').errors &&
       (registerForm.get('email').touched || registerForm.get('email').dirty)}">
        <label for="email">Email:</label>
        <input type="email" class="form-control" formControlName="email"  id="email" placeholder="Enter Email">
        <span class="help-block" *ngIf="registerForm.get('email').errors && 
        (registerForm.get('email').touched || registerForm.get('email').dirty)">
        <span  *ngIf="registerForm.get('email').errors.required" >Email ID is required ! </span>
        <span  *ngIf="registerForm.get('email').errors.pattern" >Email format is incorrect ! </span>
      </span>
      </div>
 
      <div formArrayName="phone"  *ngFor="let p of registerForm.get('phone').controls; let i=index">
      <div [formGroupName]="i">
      <div class="form-group" [ngClass]="{'text-danger': registerForm.get('phone').errors &&
        (registerForm.get('phone').touched || registerForm.get('phone').dirty)}" >
          <label for="phoneNo" class="col-sm-2">Phone:</label>
          <div class="row">
          <div class="col-md-10">
              <input type="number" class="form-control" formControlName="phoneNo" placeholder="Enter Phone No">
          </div>
          <div class="col-md-1">
              <button type="button" class="btn btn-primary" (click)="addPhone()">Add</button>
            </div>
          <div class="col-md-1" *ngIf="registerForm.get('phone').length>1">
            <button class="btn btn-primary" style="background-color: #f30808;border: none" (click)="deletePhone(i)">Remove</button>
          </div>
        </div>
        </div>
      </div>
    </div>

        <div class="form-group" [ngClass]="{'text-danger':registerForm.get('password').errors && 
        (registerForm.get('password').touched || registerForm.get('password').dirty)}">
            <label for="password">Password:</label>
            <input type="password" (keyup)="MatchPasswords()" class="form-control" formControlName="password" id="password" placeholder="Enter Password">
            <span class="help-block" *ngIf="registerForm.get('password').errors && 
            (registerForm.get('password').touched || registerForm.get('password').dirty)">
            <span *ngIf="registerForm.get('password').errors.required" >Password is required !</span>
            <span *ngIf="registerForm.get('password').errors.pattern" >Password must contain minimum 6 characters, at least one uppercase letter, one lowercase letter, one number and one special character !</span>
          </span>
          </div>

          <div class="form-group" [ngClass]="{'text-danger':registerForm.get('confirmPassword').errors && 
          (registerForm.get('confirmPassword').touched || registerForm.get('confirmPassword').dirty)}">
              <label for="confirmPassword">Confirm Password:</label>
              <input type="password" (keyup)="MatchPasswords()" class="form-control" formControlName="confirmPassword" placeholder="Reenter Password">
              <span *ngIf="registerForm.get('confirmPassword').errors && 
              (registerForm.get('confirmPassword').touched || registerForm.get('confirmPassword').dirty)">
              <span *ngIf="registerForm.get('confirmPassword').errors.required" >Confirm password is required !</span>
              </span>
                <span *ngIf="matchPwd" style="color:#dc3545">Passwords are mismatched !</span>
            </div>
          
          <div class="form-group checkbox">
            <label><input type="checkbox" formControlName="isTCAccepted">
              <span style="padding-left: 10px;">I agree with terms & conditions</span></label>
         </div>

      <div style="text-align: center">
      <button type="submit" class="btn btn-primary" [disabled]="!registerForm.valid"
      style="padding: 7px 50px;font-weight: bold;background-color: #f56a07;border: none;"
      data-toggle="modal" data-target="#myModal">Register</button>
      </div>
    </form>
  </div> 
</div>

  <!-- The Modal Popup -->
  <div class="modal" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Registration</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
           User registration completed successfully
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
          </div>
        </div>
      </div>
    </div>
    <!-- The Modal -->